.container {
    display: flex;
    height: 100vh;

}

.header {
    background-color: blue;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
}


.navigation {
    background-color: coral;
    order :1 ;
    flex-grow: 0.5;
    border-radius: 20px;
}

.contenu {
background-color: darkblue;
order: 2;
border-radius: 20px;
flex-grow: 2;
margin-left: 1rem;
margin-right: 1rem;
}

.sidebar {
background-color: darkgoldenrod;
order : 3;
flex-grow: 0.5;
border-radius: 20px;
}


.footer {
    background-color: blue;
    margin-top: 20px;
    padding: 30px;
    border-radius: 25px;
    text-align: left;
}